# Assignment 3

# Write a function to count the number 4 in a given list.

In [12]:
def list_count_4(nums):
    count=0
    for x in nums:
        if x==4:
            count+=1
    return count
print (list_count_4([1,2,3,4,5,6,7,8,4,1,4,7,8]))

3

### write a  function to check whether a number is divisible by another number.

In [17]:
def multiple(x,y):
    if x % y==0 :
        return True
    else:
        return False
print(multiple(4,2))
print(multiple(8,5))

True
False

### write a function to find the maximum and minimum numbers from a sequence of numbers.

In [44]:
def max_min(data):
    l = data[0]
    s = data[0]
    for num in data:
        if num> l:
            l = num
        elif num< s:
            s = num
    return l, s

print(max_min([0, 1, 105, 40, -25, 42, 17, 128, 75]))

(128, -25)

### Write a Python function that takes two lists and returns True if they have at least one common member.

In [28]:
def common_number(list1,list2):
    for x in list1:
        for y in list2:
            if x==y:
                return True
            else:
                return False
print(common_number([1,2,4,6,8,7,9],[1,6,9,7,1,8]))
print(common_number([11,2,5,7,1,6,55,55,8,41],[77,8,89,1,7,54,615,]))

True
False

### Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number from the user

In [34]:
def fact(x):
    if x==0:
        return 1
    else:
        return x*factorial(x-1)
x=int(input("enter the number:   "))
print(factorial(x))

enter the number:   5
120

### Write a Python function to check whether a number is in a given range.

### The range is from 3 to 11

In [42]:
def num(n):
    if n in range(3,11):
        return True
    else:
        return False
print(num(5))  
print(num(1))

True
False

### Write a  program to create the multiplication table (from 1 to 10) of a number.

In [46]:
num = int(input("Input a number: "))
for i in range(1,11):
    print(num,'x',i,'=',n*i)

Input a number: 9
9 x 1 = 5
9 x 2 = 10
9 x 3 = 15
9 x 4 = 20
9 x 5 = 25
9 x 6 = 30
9 x 7 = 35
9 x 8 = 40
9 x 9 = 45
9 x 10 = 50

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum  exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19